<div class="fixed flex items-center justify-center w-full bg-slate-900 gap-x-20 py-2">
  <div class="flex items-center justify-center bg-teal-600 rounded-full w-14 h-14 border-2 border-white">
    <h1 class="text-white text-center tracking-wide text-xl font-semibold">IM</h1>
  </div>
  <div class="flex flex-row text-white text-lg justify-center gap-4 cursor-pointer">
    <a class="hoverButtonNav" href="#inicio">Inicio</a>
    <a class="hoverButtonNav" href="#sobre-mi">Sobre Mi</a>
    <a class="hoverButtonNav" href="#skills">Skills</a>
    <a class="hoverButtonNav" href="#proyectos">Proyectos</a>
    <a class="hoverButtonNav" href="#contacto">Contacto</a>
  </div>
</div>
